 .container{
    width: 1370px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-wrap: wrap;
    

}

img{
    animation: turning 1s ;

}
.flip-card {
  background-color: transparent;
  perspective: 1000px;
  margin-top: 265px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: relative;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  margin-bottom: -205px ;
}


.flip-card-back {
  transform: rotateY(180deg);
}
.d-none{
  display: none;
}
.lolo{
  width: 400px;
  height: 600px;
  background-image: url(../img//ed-hunter-x-hunter-en-route-vers-greed-island-cover-3d.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 37px 37px 10px 0px;
  display: flex ;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: absolute;
  top: 50% ;
  left: 50%;
  transform: translate(-50%,-50%);

}
.lolo button {
  border: none;
  border-radius: 10px;
  height: 30px;
  color: rgb(255, 255, 255);
  font-size: larger;
  background-color: rgb(40, 46, 113);
}
.lolo div button {
  background-color: rgb(40, 46, 113);
  border: none;
  border-radius: 5px;
}
body{
  background-image: url(../img/fond\ ecran.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
input{
  height: 30PX;
  border-radius: 10PX ;
  outline: none;
  border: none;
}